<a href="https://colab.research.google.com/github/joaopcnogueira/colab-notebooks/blob/main/Time_Series_Intraday_Stock_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://github.com/ranaroussi/yfinance
!pip install yfinance

In [5]:
import numpy as np
import pandas as pd
import yfinance as yf

In [37]:
# Interval required 5 minutes
data = yf.download(tickers='AAPL', period='60d', interval='5m')

[*********************100%***********************]  1 of 1 completed

In [27]:
data.head()

                                 Open        High  ...   Adj Close   Volume
Datetime                                           ...
2021-07-13 09:30:00-04:00  144.179993  144.910004  ...  144.490005  5873980
2021-07-13 09:35:00-04:00  144.250000  144.710007  ...  144.595001  1917378
2021-07-13 09:40:00-04:00  144.750000  145.250000  ...  145.229996  2324649
2021-07-13 09:45:00-04:00  145.589996  146.065002  ...  146.065002  3439291
2021-07-13 09:50:00-04:00  146.000000  146.199997  ...  146.190002  2244653

[5 rows x 6 columns]

In [17]:
data.tail()

                                 Open        High  ...   Adj Close   Volume
Datetime                                           ...
2021-10-05 09:45:00-04:00  139.610107  139.880005  ...  139.880005  1337950
2021-10-05 09:50:00-04:00  139.880005  139.970001  ...  139.869995  1354995
2021-10-05 09:55:00-04:00  139.865005  139.979996  ...  139.820007  1025894
2021-10-05 10:00:00-04:00  139.820007  139.860001  ...  139.839996   220639
2021-10-05 10:01:20-04:00  139.818405  139.818405  ...  139.818405        0

[5 rows x 6 columns]

In [28]:
data = data.reset_index()
data.head()

                   Datetime        Open  ...   Adj Close   Volume
0 2021-07-13 09:30:00-04:00  144.179993  ...  144.490005  5873980
1 2021-07-13 09:35:00-04:00  144.250000  ...  144.595001  1917378
2 2021-07-13 09:40:00-04:00  144.750000  ...  145.229996  2324649
3 2021-07-13 09:45:00-04:00  145.589996  ...  146.065002  3439291
4 2021-07-13 09:50:00-04:00  146.000000  ...  146.190002  2244653

[5 rows x 7 columns]

In [29]:
# removendo a timezone para salvar em excel
data['Datetime'] = data['Datetime'].dt.tz_localize(None)
data.head()

             Datetime        Open        High  ...       Close   Adj Close   Volume
0 2021-07-13 09:30:00  144.179993  144.910004  ...  144.490005  144.490005  5873980
1 2021-07-13 09:35:00  144.250000  144.710007  ...  144.595001  144.595001  1917378
2 2021-07-13 09:40:00  144.750000  145.250000  ...  145.229996  145.229996  2324649
3 2021-07-13 09:45:00  145.589996  146.065002  ...  146.065002  146.065002  3439291
4 2021-07-13 09:50:00  146.000000  146.199997  ...  146.190002  146.190002  2244653

[5 rows x 7 columns]

In [33]:
data.to_excel('apple-stock-intraday-last-60d.xlsx', index=False)