<a href="https://colab.research.google.com/github/joaopcnogueira/colab-notebooks/blob/main/Time_Series_Intraday_Stock_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://github.com/ranaroussi/yfinance
!pip install yfinance

In [5]:
import numpy as np
import pandas as pd
import yfinance as yf

In [38]:
# Interval required 5 minutes
data = yf.download(tickers='MGLU3.SA', period='60d', interval='5m')

[*********************100%***********************]  1 of 1 completed

In [39]:
data.head()

                                Open       High  ...  Adj Close  Volume
Datetime                                         ...
2021-07-13 10:05:00-03:00  21.969999  21.990000  ...  21.940001  108300
2021-07-13 10:10:00-03:00  21.940001  21.969999  ...  21.959999  195700
2021-07-13 10:15:00-03:00  21.959999  21.959999  ...  21.850000  241100
2021-07-13 10:20:00-03:00  21.850000  21.850000  ...  21.840000  289500
2021-07-13 10:25:00-03:00  21.840000  21.860001  ...  21.830000  269800

[5 rows x 6 columns]

In [40]:
data.tail()

                            Open   High    Low  Close  Adj Close  Volume
Datetime
2021-10-05 10:45:00-03:00  13.58  13.74  13.57  13.71      13.71  621300
2021-10-05 10:50:00-03:00  13.71  13.75  13.68  13.70      13.70  513400
2021-10-05 10:55:00-03:00  13.70  13.77  13.70  13.74      13.74  639400
2021-10-05 11:00:00-03:00  13.76  13.89  13.74  13.83      13.83  939100
2021-10-05 11:05:49-03:00  13.80  13.80  13.80  13.80      13.80       0

In [41]:
data = data.reset_index()
data.head()

                   Datetime       Open       High  ...      Close  Adj Close  Volume
0 2021-07-13 10:05:00-03:00  21.969999  21.990000  ...  21.940001  21.940001  108300
1 2021-07-13 10:10:00-03:00  21.940001  21.969999  ...  21.959999  21.959999  195700
2 2021-07-13 10:15:00-03:00  21.959999  21.959999  ...  21.850000  21.850000  241100
3 2021-07-13 10:20:00-03:00  21.850000  21.850000  ...  21.840000  21.840000  289500
4 2021-07-13 10:25:00-03:00  21.840000  21.860001  ...  21.830000  21.830000  269800

[5 rows x 7 columns]

In [42]:
# removendo a timezone para salvar em excel
data['Datetime'] = data['Datetime'].dt.tz_localize(None)
data.head()

             Datetime       Open       High  ...      Close  Adj Close  Volume
0 2021-07-13 10:05:00  21.969999  21.990000  ...  21.940001  21.940001  108300
1 2021-07-13 10:10:00  21.940001  21.969999  ...  21.959999  21.959999  195700
2 2021-07-13 10:15:00  21.959999  21.959999  ...  21.850000  21.850000  241100
3 2021-07-13 10:20:00  21.850000  21.850000  ...  21.840000  21.840000  289500
4 2021-07-13 10:25:00  21.840000  21.860001  ...  21.830000  21.830000  269800

[5 rows x 7 columns]

In [43]:
data.to_excel('mglu-stock-intraday-last-60d.xlsx', index=False)